body {
    background-color: rgb(127, 51, 198);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px;
    margin: 50px auto auto auto;
    padding:  30px 50px 60px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.204) ;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto 20px;
}
input {
    border-radius: 3px;  
    border: 1px solid lightgray;
    height: 20px;
    width: 90%;
}

.input-error {
    border: 2px solid red;
}

input::placeholder {
    color: lightgray;
    padding: 5px;
}
button {
    width: 100%;
    margin: 10px auto 0px;
    text-align: center;
    padding: 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(79, 12, 143);
    cursor: pointer;
}
span {
    color: red;
    font-size: smaller;
}

button:hover {
    background-color: rgb(127, 51, 198);
}

.success {
    color: green;
}

.icon {
    width: 20px;
    margin-left: -22px;
    fill: green;
}

.icon-error {
    fill: red;
}
.hidden {
    display: none;
}